<h1>Listing people</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= link_to [person.firstname,' ',person.lastname], person %></td>
  </tr>
<% end %>
</table>

<br />

