/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

html, body {
	background-color: #9FD8F2;
}

div.logo {
	font-family: serif;
	padding: 10px;
	margin-left: 20%;
	width: 25%;
	background-color: white;
	font-size: 1.1em;
	line-height: 130%;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 0 3px 3px #aaf;
}

div.signin {
	line-height: 150%;
	position: relative;
	font-family: serif;
	padding: 20px;
	background-color: white;
	left: 55%;
	top: -183px;
	width: 25%;
	font-size: 1.3em;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 0 3px 3px #aaf;
}
